<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loyalty Card home</title>
</head>
<body>
<a href="/front/v1/home"
   style="text-decoration: none; color: black; font-size: 20px; font-weight: bold;border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 15px;"
>Go to menu</a>
<br>
<br>
<br>
    <a href="/front/v1/loyalty-cards/add"
       style="text-decoration: none; color: black; font-size: 20px; font-weight: bold;border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 15px;"
    >Add new loyalty card</a>
    <table style="border: 2px solid black;border-spacing: 5px 15px;margin-top: 10px;">
        <thead>
        <tr>
            <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Money spent </th>
            <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Number of watched movies </th>
            <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Discount on the next ticket </th>
            <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Ticket buyer name </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${loyaltyCardsResponseDto.empty}">
            <td colspan="2"> No Loyalty cards Available </td>
        </tr>
        <tr th:each="loyaltyCardResponseDto : ${loyaltyCardsResponseDto}">
            <td class="align-middle" th:text="${loyaltyCardResponseDto.moneySpent}"></td>
            <td class="align-middle" th:text="${loyaltyCardResponseDto.numberOfWatchedMovies}"></td>
            <td class="align-middle" th:text="${loyaltyCardResponseDto.discountOnTheNextTicket}"></td>
            <td class="align-middle" th:text="${loyaltyCardResponseDto.TicketBuyerName}"></td>
            <td>
                <a
                        th:href="@{/front/v1/loyalty-cards/update/{id}(id=${loyaltyCardResponseDto.id})}"
                        style="text-decoration: none; color: black; border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
                >Update</a>
                <form
                        th:method="delete"
                        th:action="@{/front/v1/loyalty-cards/delete/{id}(id=${loyaltyCardResponseDto.id})}"
                        style="display: inline-block; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
                >
                    <button
                            style="text-decoration: none; color: black; border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
                    >Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
