<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket buyer home</title>
</head>
<body>
<a href="/front/v1/home"
   style="text-decoration: none; color: black; font-size: 20px; font-weight: bold;border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 15px;"
>Go to menu</a>
<br>
<br>
<br>
<a href="/front/v1/ticket-buyers/add"
   style="text-decoration: none; color: black; font-size: 20px; font-weight: bold;border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 15px;"
>Add new ticket buyer</a>
<table style="border: 2px solid black;border-spacing: 5px 15px;margin-top: 10px;">
    <thead>
    <tr>
        <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> First name</th>
        <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Second name</th>
        <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Email</th>
        <th style="border-right: 2px solid black;padding: 5px;border-bottom: 2px solid black"> Age range</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${ticketBuyersResponseDto.empty}">
        <td colspan="2"> No ticket buyers Available</td>
    </tr>
    <tr th:each="ticketBuyerResponseDto : ${ticketBuyersResponseDto}">
        <td class="align-middle" th:text="${ticketBuyerResponseDto.firstName}"></td>
        <td class="align-middle" th:text="${ticketBuyerResponseDto.secondName}"></td>
        <td class="align-middle" th:text="${ticketBuyerResponseDto.email}"></td>
        <td class="align-middle" th:text="${ticketBuyerResponseDto.ageRange}"></td>
        <td>
            <a
                    th:href="@{/front/v1/ticket-buyers/details/{id}(id=${ticketBuyerResponseDto.id})}"
                    style="text-decoration: none; color: black; border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
            >Details</a>
            <a
                    th:href="@{/front/v1/ticket-buyers/update/{id}(id=${ticketBuyerResponseDto.id})}"
                    style="text-decoration: none; color: black; border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
            >Update</a>
            <form
                    th:method="delete"
                    th:action="@{/front/v1/ticket-buyers/delete/{id}(id=${ticketBuyerResponseDto.id})}"
                    style="display: inline-block; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
            >
                <button
                        style="text-decoration: none; color: black; border: 2px solid black; padding: 5px; border-radius: 5px;margin-bottom: 5px;"
                >Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
